.horizontal-nav {
  display: flex;
  justify-content: space-between; /* Align the links to the right */
  align-items: center;
}

.horizontal-nav ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.horizontal-nav ul li {
  margin-left: 20px; /* Adjust spacing between links */
}

.horizontal-nav ul li:first-child {
  margin-left: 0; /* Remove margin from the first item */
}

.horizontal-nav ul li a {
  text-decoration: dotted;
}

/* Style for the Login link */
.horizontal-nav ul .login-link {
  margin-left: auto; /* Align the Login link to the right */
}
